{% extends 'base.html' %}
{% block content %}
<div class="container mt-4 mb-4">
    <h2 class="text-center">Профиль</h2><br>
    <form method="post" action="" class="row">
        {{ form.hidden_tag() }}
        <div class="col d-flex flex-column">
            <img src="../static/img/No-image.png" width="400" height="400"><br>
            <h4>Логин: {{current_user.login}}</h4>
        </div>
        <div class="col d-flex flex-column">
            <h4 class="text-center">Редактировать профиль</h4><br>
            <h5 class="text-center">Изменить логин</h5><br>
            <div class="d-flex mb-5">
                {{ form.new_login(class="form-control", placeholder="Новый логин") }}
                {{ form.submit_change_login(type="submit", class="btn btn-dark") }}
            </div>
            {% if message_login %}
            <div class="alert alert-success">Логин успешно изменён</div>
            <a class="btn btn-dark" href="/profile">Перезагрузить страницу</a><br>
            {% endif %}
            <h5 class="text-center">Изменить пароль</h5><br>
            <div class="d-flex flex-column">
                <div class="d-flex flex-row mb-3">
                    {{ form.old_password(class="form-control", placeholder="Старый пароль") }}
                    {{ form.new_password(class="form-control", placeholder="Новый пароль") }}
                    {{ form.new_password_repeat(class="form-control", placeholder="Повторите пароль") }}
                </div>
                {{ form.submit_change_password(type="submit", class="btn btn-dark") }}
            </div><br>
            {% if message_password %}
                {% if message_password[0] %}
                    <div class="alert alert-success">{{ message_password[1] }}</div>
                {% else %}
                    <div class="alert alert-danger">{{ message_password[1] }}</div>
                {% endif %}
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}